.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
  margin-left: 16px;
  margin-right: 16px;
  font-family: buttChunks;
}

.newspot{
  z-index: 100000000;
  pointer-events: all;
  font-size: x-large;
  position: absolute;
  bottom: 110px;
  right: 20px;
  padding: 7.5px 15px;
  color: whitesmoke;
  background-color: #0f0f0f;
  border: 1px solid #1e1e1e;
  border-radius: 8px;
  box-shadow: 3px 3px #0f0f0f;
}

.otherspot{
  z-index: 100000000;
  pointer-events: all;
  font-size: x-large;
  position: absolute;
  bottom: 110px;
  right: 100px;
  padding: 7.5px 15px;
  background-color: whitesmoke;
  border: 1px solid #1e1e1e;
  border-radius: 8px;
  box-shadow: 3px 3px #0f0f0f;
}

@font-face {
  font-family: buttChunks;
  src: url('/animalden.ttf') format('truetype');
}

.newspot:active {

  box-shadow: none;
  transform: translate(4px, 4px);
  border: 1px solid #0f0f0f;
  box-shadow: inset 0px 0px 5px #0f0f0f;
  box-shadow:
   0 0 20px #fff,
-5px 0 30px #f0f,
 5px 0 30px #0ff;
  outline: none;
}

.containertwo{
  height: 100%;
  width: 100%;
  position: absolute;
}

.loader {
  position: absolute;
  z-index: 300000;
  right: 20px;
  bottom: 158px;
  line-height: 85%;
}
.formForNewSpot {
  position: absolute; 
  padding: 16px;
  z-index: 900000;
  right: 15px;
  bottom: 100px;
  border-radius: 8px;
  background-color: #f090f580;
  display: flex;
  flex-direction: column;
  box-shadow: inset 0px 0px 5px #0f0f0f;
  box-shadow:
   0 0 20px #fff,
-5px 0 30px #f0f,
 5px 0 30px #0ff;
}
.lust {
  display: flex; 
  justify-content: space-between;
  background-color: whitesmoke;
  margin-left: 32px;
  margin-right: 32px;
  border-radius: 6px;
  overflow: scroll;
}
.pikture {
  object-fit: contain; 
  width: 30vw;
  display: flex; 
  align-items: center;
}

.namen {
  font-family: buttChunks;
}

.descy {
  font-size: x-large;
}
@media screen and (min-width: 600px) {
.formForNewSpot{
    right: 120px;
    bottom: 180px;
  }
}

@media screen and (max-width: 600px) {
.nav {
    font-size: x-small;
  }
  .newspot {
    bottom: 80px;
  }
  .otherspot {
    bottom: 80px;
  }
  .loader{
    bottom: 135px;
  }
  .namen {
    font-size: medium;
  }

.descy {
  font-size: medium;
}
}

@media screen and (max-width: 250px){
.nav {
    font-size: x-small
  }
  .newspot {
    bottom: 90px;
  }
  .otherspot {
    bottom: 90px;
  }
}
@media screen and (max-width: 400px){
.lust {
    flex-direction: column;
  }
  .pikture {
    margin-top: 15px;
    width: 100%;
  }
  .pikture a {
    align-self: end;
  }
} 
