.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #d4c0be;
  margin-left: 16px;
  margin-right: 16px;
  font-family: buttChunks;
}

@font-face {
  font-family: buttChunks;
  src: url('/animalden.ttf') format('truetype');
}

@media screen and (max-width: 600px) {
  .nav{
    font-size: x-small;
  }
}


